<h1>{{title}}</h1>
<button (click)="getData('Hello')">function called</button>
<br>
<input type="text" #box (keyup)="getData(box.value)" placeholder="event keyup" >
<br>
<input type="text" #box1 (keydown)="getData(box1.value)" placeholder="event down">
<br>
<input type="text" #box2 (blur)="getData(box2.value)" placeholder="event blur">
<br>
<input type="text" #box3 (input)="getData(box3.value)" placeholder="event input">

<h2 (mouseover)="getData('data')">get the data by mouseover</h2>

<h2 (mouseleave)="getData('data')">get the data by mouseleave</h2>

<h2 (mouseout)="getData('data')">get the data by mouseout</h2>


<app-secondcomponent></app-secondcomponent>